{namespace v=FluidTYPO3\Vhs\ViewHelpers}


<f:if condition="{verticalPosition} == 'intext'">
	<f:then>
		<f:if condition="{columnCount} == '1'">
			<f:then>
				<f:comment>1-spaltig im Text</f:comment>
				<picture class="picIntextOneImage75">
					<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'375', cropVariant: 'mobile_portrait')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'750', cropVariant: 'mobile_portrait')} 2x" media="(max-width:24rem)"/>
					<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'667', cropVariant: 'mobile_landscape')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'1334', cropVariant: 'mobile_landscape')} 2x" media="(max-width:41.6875rem)"/>
					<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'768', cropVariant:'tablet_portrait')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'1536', cropVariant:'tablet_portrait')} 2x" media="(max-width:48rem)"/>					
					<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', width:'720', cropVariant:'tablet_landscape')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', width:'1440', cropVariant:'tablet_landscape')} 2x" media="(max-width:64rem)"/>
					<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', width:'768', cropVariant:'desktop')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', width:'1536', cropVariant:'desktop')} 2x" media="(min-width:64rem)"/>
					<img src="{f:uri.image(image: column.media, maxWidth: '800c', treatIdAsReference:'1', cropVariant: 'desktop')}" alt="{column.media.alternative}" desc="{column.media.description}" title="{column.media.title}" />
				</picture>
			</f:then>
			
			<f:else>
				<f:if condition="{columnCount} == '2'">
					<f:then>
						<f:comment>2-spaltig im Text</f:comment>
						<picture class="picIntextTwoImages75">
							<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'375', cropVariant: 'mobile_portrait')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'750', cropVariant: 'mobile_portrait')} 2x" media="(max-width:24rem)"/>
							<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'667', cropVariant: 'mobile_landscape')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'1334', cropVariant: 'mobile_landscape')} 2x" media="(max-width:41.6875rem)"/>
							<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'768', cropVariant:'tablet_portrait')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'1536', cropVariant:'tablet_portrait')} 2x" media="(max-width:48rem)"/>
							<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', width:'256', cropVariant:'tablet_landscape')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', width:'512', cropVariant:'tablet_landscape')} 2x" media="(max-width:64rem)"/>
							<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', width:'384', cropVariant:'desktop')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', width:'768', cropVariant:'desktop')} 2x" media="(min-width:64rem)"/>
							<img src="{f:uri.image(image: column.media, maxWidth: '800c', treatIdAsReference:'1', cropVariant: 'desktop')}" alt="{column.media.alternative}" desc="{column.media.description}" title="{column.media.title}" />
						</picture>
					</f:then>
				</f:if>	
			</f:else>
			
			<f:else>
				<f:if condition="{columnCount} == '3'">
					<f:then>
						<f:comment>3-spaltig im Text</f:comment>
						<picture class="picIntextThreeImages75">
							<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'375', cropVariant: 'mobile_portrait')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'750', cropVariant: 'mobile_portrait')} 2x" media="(max-width:24rem)"/>
							<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'667', cropVariant: 'mobile_landscape')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'1334', cropVariant: 'mobile_landscape')} 2x" media="(max-width:41.6875rem)"/>
							<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'768', cropVariant:'tablet_portrait')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'1536', cropVariant:'tablet_portrait')} 2x" media="(max-width:48rem)"/>
							<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', width:'342', cropVariant:'tablet_landscape')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', width:'684', cropVariant:'tablet_landscape')} 2x" media="(max-width:64rem)"/>
							<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', width:'240', cropVariant:'desktop')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', width:'480', cropVariant:'desktop')} 2x" media="(min-width:64rem)"/>
							<img src="{f:uri.image(image: column.media, maxWidth: '800c', treatIdAsReference:'1', cropVariant: 'desktop')}" alt="{column.media.alternative}" desc="{column.media.description}" title="{column.media.title}" />
						</picture>
					</f:then>
				</f:if>	
			</f:else>
		</f:if>
	</f:then>
	
	
	<f:else>
		<f:if condition="{columnCount} == '1'">
			<f:then>
				<f:comment>1-spaltig über oder unter dem Text</f:comment>
				<picture class="picOverTextOneImage75">
					<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'375', cropVariant: 'mobile_portrait')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'750', cropVariant: 'mobile_portrait')} 2x" media="(max-width:24rem)"/>
					<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'667', cropVariant: 'mobile_landscape')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'1334', cropVariant: 'mobile_landscape')} 2x" media="(max-width:41.6875rem)"/>
					<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'768', cropVariant:'tablet_portrait')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'1536', cropVariant:'tablet_portrait')} 2x" media="(max-width:48rem)"/>
					<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', width:'768', cropVariant:'tablet_landscape')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', width:'1536', cropVariant:'tablet_landscape')} 2x" media="(max-width:64rem)"/>
					<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', width:'1440', cropVariant:'desktop')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', width:'2880', cropVariant:'desktop')} 2x" media="(min-width:64rem)"/>
					<img src="{f:uri.image(image: column.media, maxWidth: '800c', treatIdAsReference:'1', cropVariant: 'desktop')}" alt="{column.media.alternative}" desc="{column.media.description}" title="{column.media.title}" />
				</picture>
			</f:then>
			
			<f:else>
				<f:comment>2-spaltig über oder unter dem Text</f:comment>
				<f:if condition="{columnCount} == '2'">
					<f:then>
						<picture class="picOverTextTwoImages75">
							<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'375', cropVariant: 'mobile_portrait')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'750', cropVariant: 'mobile_portrait')} 2x" media="(max-width:24rem)"/>
							<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'667', cropVariant: 'mobile_landscape')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'1334', cropVariant: 'mobile_landscape')} 2x" media="(max-width:41.6875rem)"/>
							<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'768', cropVariant:'tablet_portrait')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'1536', cropVariant:'tablet_portrait')} 2x" media="(max-width:48rem)"/>
							<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', width:'384', cropVariant:'tablet_landscape')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', width:'768', cropVariant:'tablet_landscape')} 2x" media="(max-width:64rem)"/>
							<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', width:'720', cropVariant:'desktop')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', width:'1440', cropVariant:'desktop')} 2x" media="(min-width:64rem)"/>
							<img src="{f:uri.image(image: column.media, maxWidth: '800c', treatIdAsReference:'1', cropVariant: 'desktop')}" alt="{column.media.alternative}" desc="{column.media.description}" title="{column.media.title}" />
						</picture>
					</f:then>
					<f:else>
						<f:comment>3-spaltig über oder unter dem Text</f:comment>
						<f:if condition="{columnCount} == '3'">
							<f:then>
								<picture class="picOverTextThreeImages75">
									<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'375', cropVariant: 'mobile_portrait')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'750', cropVariant: 'mobile_portrait')} 2x" media="(max-width:24rem)"/>
									<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'667', cropVariant: 'mobile_landscape')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', maxWidth:'1334', cropVariant: 'mobile_landscape')} 2x" media="(max-width:41.6875rem)"/>
									
									<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', width:'256', cropVariant:'tablet_portrait')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', width:'512', cropVariant:'tablet_portrait')} 2x" media="(max-width:48rem)"/>
									<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', width:'342', cropVariant:'tablet_landscape')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', width:'684', cropVariant:'tablet_landscape')} 2x" media="(max-width:64rem)"/>
									<source srcset="{f:uri.image(image: column.media, treatIdAsReference:'1', width:'480', cropVariant:'desktop')} 1x, {f:uri.image(image: column.media, treatIdAsReference:'1', width:'960', cropVariant:'desktop')} 2x" media="(min-width:64rem)"/>
									<img src="{f:uri.image(image: column.media, maxWidth: '800c', treatIdAsReference:'1', cropVariant: 'desktop')}" alt="{column.media.alternative}" desc="{column.media.description}" title="{column.media.title}" />
								</picture>
							</f:then>
						</f:if>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</f:else>
</f:if>