/***********************************************************************************
	             			        Google Maps
************************************************************************************/

#gme-1{
	width: 70%;
	max-width: $maxWidth;
	margin: 0 auto;
	
	@include breakpoint(mopo){
		width: 100% !important;
		
	}
}
