.iFrameContainer{
	position: relative;
	height: 0;
	overflow: hidden;
	
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		
	}
}

.iFrameContainer-16x9{
	padding-bottom: 56.25%;
}

.iFrameContainer-4x3{
	padding-bottom: 75%;
}

.iFrameContainer-weitmar{
	padding-bottom: 57%;
	display: block;	
}

.iFrameContainer-weitmar-etw-a{
	padding-bottom: 117%;
	display: block;	
}

.iFrameContainer-weitmar-etw-b{
	padding-bottom: 79%;
	display: block;	
}

.iFrameContainer-weitmar-etw-b3{
	padding-bottom: 157%;
	display: block;	
}

.iFrameContainer-weitmar-etw-c{
	padding-bottom: 79%;
	display: block;	
}




.iFrameContainer-buederich{
	padding-bottom: 76%;
	display: block;	
	
	@include breakpoint(mola){
		padding: inherit;
	}
}




.iFrameContainer-kaiservillen{
	padding-bottom: 195%;
	display: block;
}


iframe {
	border: none;
	width: 100%;
}

iframe.desktop {
	display: block;
}

iframe.mobile{
	display: none;
	height: 100vh;
}



@media screen and (max-width : 768px){
	iframe.desktop{
		display: none;
	}
	iframe.mobile{
		display: block;
	}
	
	.iFrameContainer-weitmar{
		display: none;
	}
	.iFrameContainer-kaiservillen{
		display: none;
	}


}

